%tr[service_check_job]
  %td.host= service_check_job.host
  %td.service= service_check_job.service
  %td.status= service_check_job.status
  %td.result= service_check_job.result
  %td.updated_at= service_check_job.updated_at
